{% extends extend_template %}

{% block body %}
    <div class="page-header">
        <h1><span class="iconl icon-filter"></span> {{ 'datagrid.filters.new'|capitalize }}</h1>
    </div>
    <section class="page-section">
        {{ form(form, { 'style': 'horizontal' }) }}
    </section>
{% endblock %}
