<a href="#" data-href="{{ path('opifer.crud.' ~ action, {'slug' : slug, 'id' : row.id}) }}" class="text-danger js-delete-confirm" data-name="{{ row.name }}" data-toggle="modal" data-target="{{ '#modalDelete' ~ slug|capitalize }}">
    {{- action|trans|capitalize -}}
</a>&nbsp;
